<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPOTYyy_0yd0-IODyTS3rtin2WE3rR6Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>277668187996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.chefchat</string>
	<key>PROJECT_ID</key>
	<string>chefchat-e7503</string>
	<key>STORAGE_BUCKET</key>
	<string>chefchat-e7503.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277668187996:ios:96552508eef1b74ef0bb99</string>
</dict>
</plist>